<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALLinONECALCULATOR</title> 
    <link rel="stylesheet" href="homepage_style.css">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"></noscript>
</head>
<body>
    <header class="main-header">
        <nav class="nav-header">
            <div class="logo">
                <img src="#" alt="logo">
            </div>
            <div class="nav-item nav-dropdown">
                <span>Categories <i class="fa-solid fa-chevron-down"></i></span>
                <div class="dropdown-content">
                    <ul class="dropdown-list">
                        <li class="dropdown-category">
                            <a href="scientific_calculator" class="category-title">Scientific Calculators</a>
                            <ul class="sub-dropdown-list">
                                <li><a href="scientific_calculator">Basic Scientific Calculator</a></li>
                                <li><a href="scientific_calculator">Advanced Scientific Calculator</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-category">
                            <a href="financial_calculators" class="category-title">Financial Calculators</a>
                            <ul class="sub-dropdown-list">
                                <li><a href="financial_calculators">Simple Interest Calculator</a></li>
                                <li><a href="financial_calculators">Compound Interest Calculator</a></li>
                                <li><a href="financial_calculators">Currency Calculator</a></li>
                                <li><a href="financial_calculators">Salary Calculator</a></li>
                                <li><a href="financial_calculators">Retirement Calculator</a></li>
                                <li><a href="financial_calculators">Sales and Tax Calculator</a></li>
                                <li><a href="financial_calculators">Investment Calculator</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-category">
                            <a href="conversion_calculator" class="category-title">Conversion Calculators</a>
                            <ul class="sub-dropdown-list">
                                <li><a href="conversion_calculator">Length Calculator</a></li>
                                <li><a href="conversion_calculator">Age Calculator</a></li>
                                <li><a href="conversion_calculator">Hour to Minute & Seconds Calculator</a></li>
                                <li><a href="conversion_calculator">Date Calculator</a></li>
                                <li><a href="conversion_calculator">GPA Calculator</a></li>
                                <li><a href="conversion_calculator">Height Calculator</a></li>
                                <li><a href="conversion_calculator">Password Generator</a></li>
                                <li><a href="conversion_calculator">Bill and Tip Calculator</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-category">
                            <a href="health&fitness_calculator" class="category-title">Health and Fitness Calculators</a>
                            <ul class="sub-dropdown-list">
                                <li><a href="health&fitness_calculator">BMI Calculator</a></li>
                                <li><a href="health&fitness_calculator">BMR Calculator</a></li>
                                <li><a href="health&fitness_calculator">Calorie Calculator</a></li>
                                <li><a href="health&fitness_calculator">Body Fat Calculator</a></li>
                                <li><a href="health&fitness_calculator">Ideal Weight Calculator</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-category">
                            <a href="maths&algebra_calculator" class="category-title">Math and Algebra Calculators</a>
                            <ul class="sub-dropdown-list">
                                <li><a href="maths&algebra_calculator">Complex Number Calculator</a></li>
                                <li><a href="maths&algebra_calculator">Boolean Algebra Simplifier</a></li>
                                <li><a href="maths&algebra_calculator">Partial Fraction Decomposer</a></li>
                                <li><a href="maths&algebra_calculator">Inequality Calculator</a></li>
                                <li><a href="maths&algebra_calculator">Flow Rate Calculator</a></li>
                                <li><a href="maths&algebra_calculator">Impulse Calculator</a></li>
                                <li><a href="maths&algebra_calculator">Factorization Calculator</a></li>
                                <li><a href="maths&algebra_calculator">Percentage Calculator</a></li>
                                <li><a href="maths&algebra_calculator">Exponential Formulas Calculator</a></li>
                                <li><a href="maths&algebra_calculator">Cube of a Number Calculator</a></li>
                                <li><a href="maths&algebra_calculator">Cube Root Calculator</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-category">
                            <a href="geometry_calculator" class="category-title">Geometry and Trigonometry Calculators</a>
                            <ul class="sub-dropdown-list">
                                <li><a href="geometry_calculator">2D Distance Calculator</a></li>
                                <li><a href="geometry_calculator">3D Distance Calculator</a></li>
                                <li><a href="geometry_calculator">Equilateral Triangle Calculator</a></li>
                                <li><a href="geometry_calculator">Isosceles Triangle Calculator</a></li>
                                <li><a href="geometry_calculator">Right-Angled Triangle Calculator</a></li>
                                <li><a href="geometry_calculator">Cube Calculator</a></li>
                                <li><a href="geometry_calculator">Cone Calculator</a></li>
                                <li><a href="geometry_calculator">Circle Calculator</a></li>
                                <li><a href="geometry_calculator">Cylindrical Calculator</a></li>
                                <li><a href="geometry_calculator">Square Calculator</a></li>
                                <li><a href="geometry_calculator">Sphere Calculator</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="nav-item search-form-container">
                <form action="#">
                    <input type="text" placeholder="Search for Categories">
                    <button type="submit"><i class="fa-solid fa-search"></i></button>
                </form>
            </div>
            <ul class="nav-right">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
                <li class="nav-item"><a href="login" class="btn">Login</a></li>
                <li class="nav-item"><a href="signup" class="btn btn-highlight">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <section class="calculator-categories">
        <div class="calculator1">
            <div class="calculator-thumbnail" id="1">
                <a href="scientific_calculator" style="text-decoration: none; color: inherit;">
                    <p>Scientific Calculator</p>
                    <img src="img/scientific.avif" alt="Scientific Calculator">
                </a>
            </div>
        </div>
        <div class="calculator1">
            <div class="calculator-thumbnail" id="2">
                <a href="financial_calculators" style="text-decoration: none; color: inherit;">
                    <p>Financial Calculator</p>
                    <img src="img/scientific.avif" alt="Financial Calculator">
                </a>
            </div>
            
        </div>
        <div class="calculator1">
            <div class="calculator-thumbnail" id="3">
                <a href="conversion_calculator" style="text-decoration: none; color: inherit;">
                    <p>Conversion Calculator</p>
                    <img src="img/scientific.avif" alt="Conversion Calculator">
                </a>
            </div>
        </div>
        <div class="calculator1">
            <div class="calculator-thumbnail" id="4">
                <a href="health&fitness_calculator" style="text-decoration: none; color: inherit;">
                    <p>Financial Calculator</p>
                    <img src="img/scientific.avif" alt="Health and Fitness Calculator">
                </a>
            </div>
        </div>
        <div class="calculator1">
            <div class="calculator-thumbnail" id="5">
                <a href="health&fitness_calculator" style="text-decoration: none; color: inherit;">
                    <p>Health and Fitness Calculator</p>
                    <img src="img/scientific.avif" alt="Health and Fitness Calculator">
                </a>
            </div>
        </div>
        
        <div class="calculator1">
            <div class="calculator-thumbnail" id="6">
                <a href="geometry_calculator" style="text-decoration: none; color: inherit;">
                    <p>Geometry and Trigonometry Calculator</p>
                    <img src="img/scientific.avif" alt="Geometry and Trigonometry Calculator">
                </a>
            </div>
        </div>
       
        </section>
        
   <script src="script.js"></script>
</body>
</html>