* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5c5c5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #0d09df;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.display {
    margin-bottom: 20px;
}

#result {
    width: 100%;
    padding: 15px;
    font-size: 2em;
    text-align: right;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    background-color: #ebebeb;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d82941;
}

.btn:active {
    background-color: #00ff1eeb;
}
